* {
  text-align: center;
}

.color {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  display: inline-block;
}

#black {
  background-color: black;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#green {
  background-color: green;
}

#pixel-board {
  border-radius: 1px solid black;
  font-size: 0;
}

.btn {
  padding: 10px;
  margin: 10px;
}

.pixel {
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: inline-block;
}

