* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
  text-align: center;
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}


header {
  background: gray;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

section p {
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  background: rgb(172, 172, 172);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

 body div {
   flex-direction: column;
   display: flex;
   justify-content: center;
   align-items: center;
 }

.div {
  text-align: center;
  width: 650px;
  height: 450px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
  /* flex-direction: ; */
}
